.alurageek {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
  background: #eaf2fd;
}

@media only scree and (min-width: 760px) {
  .alurageek {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    background: #eaf2fd;
  }
}


@media only scree and (min-width: 760px) {
  .alurageek {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
    background: #eaf2fd;
  }
}
