.alurageek__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;

}

@media only screen and (min-width: 760px) {
  .alurageek {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 64px;
    width: 1440px;
    height: 368px;
  }
}

@media only screen and (min-width: 640px) {
  .alurageek__content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    width: 1440px;
  }
}
