.banner__subtitle {
  margin-top: 16px;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
}

@media only screen and (min-width: 640px) {
  .banner__subtitle {
    font-weight: 700;
    font-size: 22px;
    color: #ffffff;
  }
}