.header__search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 8px 16px;
  width: 393px;
  height: 40px;
  background: #F5F5F5;
  border-radius: 20px;
}

@media only screen and (max-width: 760px) {
  .header__search {
    width: 272px;
  }
}

@media only screen and (max-width: 640px) {
  .header__search {
    display: none;
  }
}
