.products {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  padding: 16px;
  width: 100%;
}


@media only screen and (min-width: 760px) {
  .products {

    padding: 8px;

  }
}